*.suo
*.cmake
problem-1/CMakeFiles/3.3.2/CMakeDetermineCompilerABI_C.bin
*.bin
problem-1/CMakeFiles/3.3.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.13.tlog
*.tlog
*.vcxproj
problem-1/ZERO_CHECK.vcxproj.filters
*.log
problem-1/Win32/Debug/ALL_BUILD/ALL_BUILD.vcxprojResolveAssemblyReference.cache
*.filters
problem-1/main.dir/Debug/vc140.pdb
*.obj
problem-1/euler1.VC.db
*.opendb
problem-1/euler1.sln
*.ilk
problem-1/CMakeFiles/TargetDirectories.txt
*.list
problem-1/CMakeFiles/feature_tests.cxx
*.depend
problem-1/CMakeFiles/3.3.2/CompilerIdC/CMakeCCompilerId.c
*.exe
problem-1/CMakeCache.txt